<div class="card text-center mt-5">
    <div class="card-header">
        OOPS...!
    </div>
    <div class="card-body">
        <h5 class="card-title">Se produjo un error</h5>
        <p class="card-text">{{message}} &#40;{{code}}&#41;</p>
    </div>
    <div class="card-footer text-muted">
        CSRehel
    </div>
</div>