<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Bienvenido al sistema de Farmacia</h1>
    </div>
    <div class="row">
        <div class="card col-md-3 mb-4">
            <div class="card-body">
                <h4>Prescripciones pendientes</h4>
                <p class="card-text">Ver prescripciones pendientes</p>
                <a href="/prescription/?email={{email}}" class="btn btn-primary">Ir al módulo</a>
            </div>
        </div>
        <div class="card col-md-3 mb-4">
            <div class="card-body">
                <h4>Stock</h4>
                <p class="card-text">Ingresar o actualizar productos en stock</p>
                <a href="/stock/?email={{email}}" class="btn btn-primary">Ir al módulo</a>
            </div>
        </div>
        <div class="card col-md-3 mb-4">
            <div class="card-body">
                <h4>Descontar Stock</h4>
                <p class="card-text">Gestionar las existencias de stock</p>
                <a href="/descarte" class="btn btn-primary">Ir al módulo</a>
            </div>
        </div>
        <div class="card col-md-3 mb-4">
            <div class="card-body">
                <h4>Reporte stock</h4>
                <p class="card-text">Ver el listado del stock</p>
                <a href="/reporteStock" class="btn btn-outline-secondary">Ir al reporte</a>
            </div>
        </div>
        <div class="card col-md-3 mb-4">
            <div class="card-body">
                <h4>Reporte reserva</h4>
                <p class="card-text">Ver el listado de reservas</p>
                <a href="/reporteReserva" class="btn btn-outline-secondary">Ir al reporte</a>
            </div>
        </div>
        <div class="card col-md-3 mb-4">
            <div class="card-body">
                <h4>Reporte entrega</h4>
                <p class="card-text">Ver el listado de medicamentos entregados</p>
                <a href="/reporteEntrega" class="btn btn-outline-secondary">Ir al reporte</a>
            </div>
        </div>
    </div>
</main>
